* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ebd4ae;
  padding: 1.7em 20px;
}

.logo_menu {
  max-width: 130px;
}

.logo_menu img {
  display: block;
  width: 100%;
}

.menu {
  display: flex;
  gap: 1.5em;
  justify-content: center;
}

.item_menu {
  /* tira o ponto da frente do item do menu */
  list-style: none;
}

.item_menu a {
  text-decoration: none;
  color: rgb(2, 51, 115);
  font-size: 1.125rem;
  padding: 0.6em 1.5em;
}

.item_menu a:hover {
  color: rgb(235, 70, 148);
  background-color: #ffffff;
  border-radius: 1em;
}

.icon-container {
  display: flex;
  gap: 1.5em;
}

.item-icon {
  width: 30px;
  height: 30px;
}

.item-icon img {
  display: block;
  width: 100%;
}
