/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, helvetica;
}

body {
  max-width: 1360px;
  margin: 0 auto;
  background-color: #A2EDDF;
}


/* START HEADER */
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ebd4ae;
  padding: 1.7em 20px;
}

.logo_menu {
  max-width: 130px;
}

.logo_menu img {
  display: block;
  width: 100%;
}

.menu {
  display: flex;
  gap: 1.5em;
  justify-content: center;
}

.item_menu {
  /* tira o ponto da frente do item do menu */
  list-style: none;
}

.item_menu a {
  text-decoration: none;
  color: rgb(2, 51, 115);
  font-size: 1.125rem;
  padding: 0.6em 1.5em;
}

.item_menu a:hover {
  color: rgb(235, 70, 148);
  background-color: #ffffff;
  border-radius: 1em;
}

.icon-container {
  display: flex;
  gap: 1.5em;
}

.item-icon {
  width: 30px;
  height: 30px;
}

.item-icon img {
  display: block;
  width: 100%;
}

/* START MAIN */

.main_container{
  width: 100%;
}

/* START HERO */
.hero_container {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 50px;
  padding-left: 200px;
}

.hero_figure{
  width: 535px;
  height: 700px;
}

.hero_figure img {
  width: 100%;
  height: 100%;
}